{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Адрес</th>
            <th scope="col">Тариф</th>
        </tr>
        </thead>
        <tbody>
        {%  for client in clients %}
        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.ln }}</td>
            <td>{{ client.fn }}</td>
            <td>{{ client.address.street }}, {{ client.address.number }}</td>
            <td>{{ client.tariff.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
