{% extends 'base.html.twig' %}

{% block title %}Hello TariffController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Скорость</th>
            <th scope="col">Стоимость</th>
            <th scope="col">дуйствия</th>
{#            <th scope="col">Тариф</th>#}
        </tr>
        </thead>
        <tbody>
        {%  for tariff in tariffs %}
            <tr>
                <th scope="row">{{ tariff.id }}</th>
                <td>{{ tariff.name }}</td>
                <td>{{ tariff.speed }}</td>
                <td>{{ tariff.price }}</td>
                <td><a class="btn btn-danger" href="{{ path('app_tariff_delete', { id: tariff.id }) }}" role="button"> удалить</a>
                    <a class="btn btn-warning" href="{{ path('app_tariff_update', {id: tariff.id}) }}" role="button">изменить</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_tariff_create') }}" role="button">Добавить тариф</a>
</div>
{% endblock %}
